#ignore user´s files
*.pro.user
*.pro.user.*
U1_GeometricPointSearch/*.pro.user.*
U1_GeometricPointSearch/*.pro.user

#build files
build*

U1_GeometricPointSearch/U1_GeometricPointSearch.pro.user

#LaTeX files
*.toc
*.out
*.log
*.syntex.gz
*.gz
*.blb
*.bbl
*.aux
*.blg
*.lof
*.lot
